html {
	overflow-x: hidden;
}

h1 {
	font-family: 'Tahoma' !important;
	color: white !important;
	font-weight: bold !important;
	font-size: 2.5em !important;
}

h1 small {
	color: white !important;
}

h1 i {
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    width: 75px;
}

h2 {
	font-family: 'Tahoma' !important;
	color: #3f729b !important;
}

h3 {
	font-family: 'Din Condensed' !important;
	color: white !important;
	font-size: 3.25em !important;
}

h3 small {
	color: white !important;
}

.sens {font-family: 'Gauntlet Classic';}

.arch {font-family: 'Gauntlet Thin';}

.navbar {background: white;}

.navbar-nav a {
	font-family: 'Tahoma';
	font-size: 1.3em;
}

.navbar-brand {
	font-size: 2.8em !important;
}

.top_list {
	font-family: 'Tahoma';
	color: white;
}

.top_list li {
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.top-sidebar {
	background: rgba(255, 255, 255, 0.70);
	border-bottom: 5px solid #3f729b;
	padding: 30px;
}

.middle-row {
	width: 100%;
	border-top: 3px solid #333333;
	background: #f5f5f5;
	margin-top: 25px;
	padding-bottom: 25px;	
}

.btn-green {
	background: #8ec449;
	font-family: Tahoma;
	font-weight: bold !important;
	letter-spacing: 2px;
	font-size: 1.2em !important;
	color: white;
}

.btn-blue {
	background: #3f729b;
	font-family: Tahoma;
	font-size: 1.1em !important;
	color: white;
}

.btn:hover {
	color: white !important;
}

#login_footer {
	background: #333333; 
	border-top: 3px solid #3f729b;
}

#login_footer .container {
	color: #8a8a8a;
	padding: 10px 0;
}


.top-sidebar a, #login_footer a {
	color: #8a8a8a !important;
	transition: color 0.5s ease;
}

.top-sidebar a:hover, #login_footer a:hover {
	text-decoration: none !important;
	color: #3f729b !important;
}

#login_img_wrapper {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -5;
	width: 100%;
	min-height: 90%;
}

#login_img {
    min-height: 100% !important;
    min-width: 100% !important;
}

.login_middle_img {
	width: 100%;
}

.login body {
	background: transparent;

}

#login_top {
	margin-top: 30px;
}

#login_top form {
	margin-top: 25px;
}

#login_body {
	height: 75%;
}

#login_body h1 {
	margin-top: 130px;
}

#triangle, .white_bg {
	height: 30px;
	text-align: center;
}
.white_bg{background: white;}
.triangle_1{
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 30px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    width: 50%;
}
.triangle_2 {
	background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 30px;
    right: 0;
    margin-right: -20px;
    position: absolute;
    width: 50%;
    margin-top: -30px;
}
#login_form {
	text-align: right;
}

#login-bottom {
	background: #f4726d;
	padding-top: 50px;
	padding-bottom: 50px;
}

#login-bottom .quote{
	font-family: Georgia, serif;
	padding: 25px;
	color: white;
	margin-top: 50px;
	border-radius: 10px;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
	font-style: italic;
	font-size: 1.7em;

}

.quote p.author {
	font-family: 'Din Condensed';
	text-align: right;
}

#logo_login {
	font-size: 50px;
	text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);

}

#logo_login #thin{
	font-family: 'Gauntlet Thin';
	color:white;	
}

#logo_login #negrita {
	font-family: 'Gauntlet Classic';
	color:white;
}

#icon-login-wrapper {
	box-shadow: 0 0 120px black;
}