html {
	/*min-height: 150%;*/
}

html.login {
	height: 100%;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/6/6f/Disney_Concert_Hall_by_Carol_Highsmith.jpg);
}

.login body {
	background: transparent;
}

#login_top {
    position: relative;
    top: -170px;
}

#logo {
	margin-left: 10%;
	font-family: arial; 
	font-size: 50px; 
	position: fixed;
}

#logo_login {
	font-size: 50px;
	margin-top: 20px;
}

#logo_login a {
	position: relative;
	top: 47px;
}
#logo_login #thin{
	font-family: 'Gauntlet Thin';
	color:white;	
}

#logo_login #negrita {
	font-family: 'Gauntlet Classic';
	color:white;
}


a:link, a:hover, a:active, a:visited {
	color:black;
	text-decoration: none;
}
/* fixe amb bg blanc */
#header_fixe_blanc {
	width: 100%;
	padding-bottom: 30px;
	position:fixed;
	z-index: -1;
}

#header_fixe_blanc #logo #thin {
	font-family: 'Gauntlet Thin';
	color:white;
}

#header_fixe_blanc #logo #negrita {
	font-family: 'Gauntlet Classic';
	color:white;
}

#header_fixe_negre {
	margin-top: 0px;
	width: 100%;
	background-color: white;
	position:fixed;
	z-index: 1;
}

#header_fixe_negre #logo #thin {
	font-family: 'Gauntlet Thin';
	color: black;
}
#header_fixe_negre #logo #negrita {
	font-family: 'Gauntlet Classic';
	color: black;
}

#nav_links_header {
	float: right;
	margin-right: 10%;
	margin-top: 27px;
}

#nav_links_header a {
	font-family: 'Lato';
	font-size: 2em;
	margin-right: 20px;
}

#login-input {
	margin: auto;
	width: 200px;
	text-align: center;
	margin-top: 50px;
}

#login-input button {
	margin-top: 5px;	
}

#login_top_img {
	min-height: 400px;
	position: fixed;
	z-index: -20;
}

#login_bot_img {
	min-height: 400px;
}

#img-spacer {
	height: 400px;
}

.login-icon {
	width: 30%;
}

#icon-login-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
	background: white;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#icon-login-wrapper p {
	margin-top: 10px;
	width: 60%;
}

#flash_error {
	width: 70%;
	margin-left: 15%;
}

#footer {
	margin-top: 150px;
	width: 100%;
	text-align: center;
	padding: 29px 0 15px  0;
	box-shadow: inset 0 1px 0 0 #e6e6e6;
	background:rgba(245,245,245,1.00);
	z-index:4;
}
#footer .copyright {
	margin-top: 3em;
	font-size: 0.8em;
	color: #aaa;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer .copyright ul {

	list-style-type: none;
}		
#footer .copyright a {
	color: inherit;
}
#footer ul.icons a {
	box-shadow: inset 0 0 0 1px #d6d6d6;
	padding-top: 25%;
}

ul.icons {
	cursor: default;
}		
ul.icons li {
	display: inline-block;
	padding-left: 0.75em;
}		
ul.icons a {
	display: inline-block;
	width: 2.75em;
	height: 2.75em;
	line-height: 2.8em;
	text-align: center;
	border: 0;
	box-shadow: inset 0 0 0 1px #e6e6e6;
	border-radius: 100%;
	color: #aaa;
	-moz-transition: background-color 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out;
	-ms-transition: background-color 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out;
}
ul.icons a:hover {
	background: rgba(0,0,0,0.025);
}

#content-wrapper {
	background-color: #EEEEEE;
}

.container {
	position: relative;
	height: 100%;
	top: 100px;
}

.project {
	position: relative;
}

.project_block_text {
	position: absolute;
	margin-top: 0;
	border: 1px solid #999999;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	color: #3C3C3C;
}

.project_block_text p {
	color: #3C3C3C;
	font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
}

.project_title {
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.63);
	width: 100%;
	color: white;
}

.project img {
	width: 100%;
	max-height: 100%;
	-webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE 6-9 */}

.project img:hover{
	filter: none;
	-webkit-filter:grayscale(0%);
}

#cover_picture img {
    width: 100%;
    margin-top: -45% !important;
}
#cover_picture {
    width: 100%;
    position: relative;
}
.img_project {
	width: 100%;
}