html {overflow-x: hidden;}

html, body, #content-wrapper {
	min-height: 100%;
}

h1,h2,h3 {
	font-family: 'Din Condensed' !important;
}

p {
	font-family: 'Lato' !important;
}

#logo {
	margin-left: 10%;
	font-family: arial; 
	font-size: 50px; 
	position: fixed;
}

a:link, a:active, a:visited {
	color:inherit;
	text-decoration: none !important;
}

a:hover {
	color: #af1d1d !important;
}
/* fixe amb bg blanc */
#header_fixe_blanc {
	width: 100%;
	padding-bottom: 30px;
	margin: 0px;
	border: none;
	position:fixed;	
	text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	z-index: 2;
}

#header_fixe_blanc #logo #thin {
	font-family: 'Gauntlet Thin';
	color:white;
}

#header_fixe_blanc #logo #negrita {
	font-family: 'Gauntlet Classic';
	color:white;
}

#header_fixe_blanc a {
	color: white;
}

#header_fixe_negre {
	margin-top: 0px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #E6E6E6;
	position:fixed;
	z-index: 4;
}

#header_fixe_negre #logo #thin {
	font-family: 'Gauntlet Thin';
	color: black;
}
#header_fixe_negre #logo #negrita {
	font-family: 'Gauntlet Classic';
	color: black;
}

.header_spacer {
	height: 5em;
}

#nav_links_header {
	float: right;
	margin-right: 10%;
	margin-top: 27px;
	height: 35px;
}

#dropdown {
	float: right;
	margin-right: 10%;
	margin-top: 27px;
}

#nav_links_header a {
	font-family: 'Lato';
	font-size: 1.2em;
	letter-spacing: 5px;
	margin-right: 35px;
}

#login-input {
	margin: auto;
	width: 200px;
	text-align: center;
	margin-top: 50px;
}

#login-input button {
	margin-top: 5px;	
}

#login_top_img {
	min-height: 400px;
	position: fixed;
	z-index: -20;
}

#login_bot_img {
	min-height: 400px;
}

#img-spacer {
	height: 70%;
}

.login-icon {
	height: 100px;
}

#icon-login-wrapper {
	padding-top: 30px;
	padding-bottom: 50px;
	background: white;
}

#icon-login-wrapper p {
	margin-top: 10px;
	width: 60%;
}

#flash_error {
	width: 70%;
	margin-left: 15%;
}

#footer {
	text-align: center;
	padding: 29px 0 15px  0;
	box-shadow: inset 0 1px 0 0 #e6e6e6;
	background:rgba(245,245,245,1.00);
	position: relative;
	z-index: 4;
}
#footer .copyright {
	margin-top: 3em;
	font-size: 0.8em;
	color: #aaa;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer .copyright ul {

	list-style-type: none;
}		
#footer .copyright a {
	color: inherit;
}
#footer ul.icons a {
	box-shadow: inset 0 0 0 1px #d6d6d6;
	padding-top: 25%;
}

ul.icons {
	cursor: default;
}		
ul.icons li {
	display: inline-block;
	padding-left: 0.75em;
}		
ul.icons a {
	display: inline-block;
	width: 2.75em;
	height: 2.75em;
	line-height: 2.8em;
	text-align: center;
	border: 0;
	box-shadow: inset 0 0 0 1px #e6e6e6;
	border-radius: 100%;
	color: #aaa;
	-moz-transition: background-color 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out;
	-ms-transition: background-color 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out;
}
ul.icons a:hover {
	background: rgba(0,0,0,0.025);
}

#content-wrapper {
	background: #fafafa;
	text-align: justify;
	position: relative;
	z-index: 3;
	padding-top: 25px; 
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	padding-bottom: 25px;
}


#user_info_wrapper {
	background: white;
	margin-bottom: 30px;
	margin-top: -17px;
}


#user_info {
	padding-left: 20px;
	background: #FFFFFF;
	color: #3C3C3C;
	
	font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
	height: 205px;
}

.user_occupation {
	position: relative;
	top: 90px;
}

.user_social {
	position: absolute;
	right: 30px;
	color: #b2b2b2;
	bottom: 70px;
	font-size: 1.4em;
}

.user_lang {
	position: absolute;
	right: 30px;
	bottom: 40px;
}

.tag {
	color: grey;
}

#profile_img {
	float: left;
	height: 205px;
	margin-right: 10px;
	width: 260px;
	overflow: hidden;
}

#profile_img img {
	height: 100%;
}

#profile_img a {
	background: none repeat scroll 0 0 #000000;
	border-radius: 5px;
	bottom: 10px;
	color: #FFFFFF;
	opacity: 0.7;
	padding: 5px;
	position: absolute;
	right: 10px;
}

#edit_profile_link {
	position: absolute;
	right: 30px;
}

.project_block_text p {
	color: #3C3C3C;
	font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
}

.project_title {
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.63);
	width: 350;
	color: white;
}

.project_block_text {
	margin-top: 0;
	margin-bottom: 25px;
	border: 1px solid #999999;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	color: #3C3C3C;
	width: 350px;

}

.project img {
	width: 350;
	max-height: 100%;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE 6-9 */
}

.project img:hover{
	filter: none;
	-webkit-filter:grayscale(0%);
}

#cover_picture img {
	min-height: 100%;
	width: 100%;
}
#cover_picture {
	overflow: hidden;
	background: #EEEEEE;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#cover_picture_spacer {
	height: 80%;
}

/*#cover_picture a {
	background: none repeat scroll 0 0 #000000;
	border-radius: 5px;
	top: 70%;
	color: #FFFFFF;
	display: none;
	right: 100px;
	opacity: 0.7;
	padding: 5px;
	position: absolute;
}*/

h1.white {
	color: white;
	text-align: center;
}

#container {
	margin: 0 auto;
	padding-bottom: 100px;
}

textarea {
	resize: none;
	width: 100%;
}

.hidden {
	display: none;
}

.img_upload_preview {
	width: 100%;
	margin-bottom: 15px;
}

.description {
	color: #445466;
	line-height: 180%;
	text-align: justify;
	margin-bottom: 50px;
}

.project_page_title, .project_page_subtitle {
	color: #646464;
	font-family: Georgia,Times,serif;
	font-size: 35px;
	text-align: center;
	font-style: italic;
}

.project_page_subtitle {
	margin-top: 10px;
}
.project_page_image {
	height: 250px;
	margin-bottom: 100px;
}

.project_page_image a {
	height: 100%;
}

.project_page_image img {
	max-width: 100%;
	max-height: 100%;
}

#legal-sidebar {
	position: fixed;
	left: 100px;
}

.anchor {
	position: relative;
	bottom: 125px;
}

.project_cover_old {
	height: 240px;
	overflow: hidden;
	background: #e3e3e3;
	text-align: center;
}

.project_cover_old i {
	font-size: 2em;
	margin-top: 85px;
	color: white;
}

.project_cover_old img {
	width: 100%;
	height: auto;
	position: relative;
	top: -120px;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE 6-9 */
	-webkit-transition: all .6s ease;
	-moz-transition: all 0.6s ease-in-out;
}

.project_cover_old img:hover{
	filter: none;
	-webkit-filter:grayscale(0%);
}

#beta {
	color: #DFDFDF;
	font-family: 'Lato';
	font-size: 2em;
}

#new_project_block {
	font-family: 'Din Condensed';
    background: white;
    border: 2px dashed #E6E6E6;
    font-size: 1.5em;
    height: 100px;
    margin-bottom: 25px;
    text-align: center;
    color: #969696;
}

#new_project_block:hover {
	color: #af1d1d;
}
#new_project_block > div {
	position: relative;
	top: 25px;
}

.project_context_links {
	padding: 10px;
	border-radius: 5px;
	text-align: right;
}

.project_old {
	background: white;
	border: 1px solid #DDDDDD;
	margin-bottom: 30px;
}

#page-not-found {
	margin-top: 10%;
}
#page-not-found img {
	width: 30%;
	vertical-align: baseline;
}

.text-not-found {
	text-align: right;
	padding-right: 40px;
	display: inline-block;
	width: 50%;
	color: #919191;
}

.grey-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #E5E5E5;
}

#profile_sidebar {
	position: fixed;
	width: 15%;
	text-align: center;
}

.add_pic_message {
	text-align: center;
position: absolute;
margin-top: 20%;
font-size: 2em;
font-family: Din Condensed;
width: 100%;
}

.red {
	color: #a94442;
}

.project_info_old h2 {
	font-family: 'Lato' !important;
	font-weight: bold;
	font-size: 1.3em;
	margin-top: 10px;
}

.project_info_old {
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.project_info_old .project_author a {
	text-decoration: underline !important;
	color: #3C3C3C !important; 
}

.project_info_old a.project_more_info {
	text-decoration: underline !important;
	color: #3C3C3C !important; 
	font-size: 0.7em;
}

.project_info_old .project_author a:hover {
	color: #af1d1d !important;
}

.project_info_old .project_description {
	margin-top: 15px;
	margin-bottom: 5px;
}

.description {
	margin-top: 40px;
}

#beta_home {
	position: fixed;
	width: 20%;
}